* {
  --background: white;
  --accent: #4332ab;
}
.navbar {
  margin-top: 2ch;
  position: right;
  text-align: center;
  /* border: 1px solid red; */
}
button {
  border: 1px solid blue;
  margin: 0rem 1rem;
}
.home-button {
  background-color: var(--accent);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
}
.icons-bar {
  font-size: large;
}
.browse-button {
  border: none;
}
.browse-icons {
  align-items: center;
  color: var(--accent);
  margin: 1rem 3rem;
  /* border: red solid 2px; */
}
.icon-container {
  align-items: center;
}
