* {
  --background: #e6e6fa;
  --heading: #4332ab;
  --accent: #4853b5;
  --secondary: #6671d1;
  --light-accent: #d5d9fe;
  --highlight: #6257c9;
}
.react-calendar {
  width: 400px;
  max-width: 100%;
  margin-top: 5rem;
  scale: calc(1.5);
  background-color: white;
  border: 2px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-bottom: 2rem;
}
.react-calendar__navigation button:disabled {
  background-color: pink;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--light-accent);
}
.react-calendar__month-view__days__day--weekend {
  color: black;
}
.react-calendar__tile:disabled {
  /* background-color: #f0f0f0; */
  color: #ababab;
}
.react-calendar__tile--now {
  background-color: var(--light-accent);
  color: var(--accent);
  font-weight: bold;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border: var(--accent) 3px solid;
  background-color: white;
  color: var(--accent);
}
.aria-label:hover {
  color: var(--light-accent);
}
