.centered-container {
  display: flex;
  font-family: "Mulish", sans-serif;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.form-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: visible;
  width: 350px;
}
.register-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}
.header {
  margin-top: 4rem;
  font-size: 4rem;
  font-weight: 700;
  color: var(--accent);
}
.user-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.label {
  background-color: white;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #3b3b3b;
  font-size: 0.8em;
  font-weight: 600;
}
.form-input,
.submit-btn {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 4px;
}
.select-role {
  background-color: white;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.submit-btn {
  background-color: #e6e6fa;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #8a93e0;
  color: white;
}
.create-account-link {
  background-color: white;
  text-align: center;
  margin: 15px 0;
  font-size: 10px;
}
a {
  /* background-color: white; */
  color: #6671d1;
  text-decoration: underline;
}
a:hover {
  color: red;
}
.register-container {
  margin: 10rem;
  height: 80vh;
}
.club-description-text {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  height: 10rem;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 4px;
}
