h1 {
  margin: 15rem 1rem 5rem;
  font-size: 5rem;
  font-weight: 900;
  /* border: red 1px solid; */
}
.browse-line {
  margin: auto;
  margin-top: 5rem;
  border: none;
  border-top: 5px double var(--gray);
  max-width: 50%;
  color: var(--gray);
  overflow: visible;
  /* height: 10px; */
}

.browse-line::after {
  background: var(--background);
  content: "Browse";
  font-size: 1.5rem;
  padding: 5px 10px;
  position: relative;
  /* border: red 1px solid; */
  top: -13px;
}
.button {
  width: fit-content;
  background-color: var(--accent);
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
  margin: 5rem;
  font-weight: bold;
  cursor: pointer;
}
