* {
  --background: #e6e6fa;
  --heading: #4332ab;
  --accent: #4853b5;
  --secondary: #6671d1;
  --light-accent: #8a93e0;
  --gray: #333;
}
body {
  background-color: var(--background);
}

h1,
h2 {
  color: var(--heading);
  text-align: center;
  font-style: bold;
  font-weight: 700;
}
h1 {
  margin: 15rem 1rem 5rem;
  font-size: 5rem;
  font-weight: 900;
}
h2 {
  font-size: 3rem;
  margin: 8rem 0 1rem;
}
hr {
  margin: auto;
  margin-top: 5rem;
  border: none;
  border-top: 5px double var(--gray);
  max-width: 50%;
  color: var(--gray);
  overflow: visible;
  /* height: 10px; */
}

hr::after {
  background: var(--background);
  content: "Browse";
  font-size: 1.5rem;
  padding: 5px 10px;
  position: relative;
  /* border: red 1px solid; */
  top: -13px;
}

.container {
  max-width: 100rem;
  /* border: 2px solid blue; */
  text-align: center;
}
.subcontainer {
  border: 2px solid red;
}
.grid {
  /* border: 10px pink solid; */
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  justify-content: center;

  /* grid-column: 2; */
}
.club-listing {
  display: grid;
  justify-items: right;
  float: right;
  margin-top: 10vh;
  margin-right: 20vh;
  row-gap: 25px;
}
.button {
  width: fit-content;
  background-color: var(--accent);
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
  margin: 5rem;
  font-weight: bold;
  cursor: pointer;
}

.icons {
  color: var(--accent);
  background-color: white;
}
