button {
  cursor: pointer;
}
h1 {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 100rem;
  border: 2px solid pink;
}
.browse {
  text-align: center;
}
.directory {
  text-align: center;
}
.club-listing {
  display: grid;
  justify-items: right;
  float: right;
  margin-right: 20vh;
  row-gap: 25px;
}
.more-button {
  width: fit-content;
  background-color: purple;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
  margin: 0;
  font-weight: bold;
}
.icons {
  color: #4853b5;
  background-color: white;
}
