* {
  --background: #e6e6fa;
  --accent: #4853b5;
  --secondary: #6671d1;
  --light-accent: #8a93e0;
}
body {
  background-color: var(--background);
}
button {
  cursor: pointer;
}
h1 {
  margin: 1rem;
  padding: 2rem;
  text-align: center;
}
h2 {
  margin: 1rem 0rem;
}

.container {
  max-width: 100rem;
  border: 2px solid pink;
}
.browse {
  text-align: center;
}
.directory {
  text-align: center;
}
.club-listing {
  display: grid;
  justify-items: right;
  float: right;
  margin-right: 20vh;
  row-gap: 25px;
}
.more-button {
  width: fit-content;
  background-color: var(--accent);
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
  margin: 0;
  font-weight: bold;
}

.icons {
  color: var(--accent);
}
